<leagueSelection (leagueSelection)="handleLeagueSelection($event)" [stashCounts]="stashCounts"></leagueSelection>
<div class="d-flex flex-wrap justify-content-center">
  
  <div class="stashContainer mb-2">
    <stashitem *ngFor="let item of items; let count = index" [itemData]="item" [stashType]="selectedStash.stashType" (mouseover)="SelectItem(item,count);" (mouseleave)="SelectItem(null);">
    </stashitem>
    <boxi *ngIf="selectedItem" [stashType]="selectedStash.stashType" [itemData]="selectedItem"></boxi>
  </div>

  <div class="stashlink col-xs-12 col-sm-12 col-md-8 col-xl-4">
    <ul>
      <li *ngFor="let stash of filteredStashes; let i = index" (click)="GetStash(stash.stashID);" class="btn-primary">{{stash.stashName}} <span class="float-right stash-type">{{stash.stashType}}</span></li>
    </ul>
 </div>


</div>
