* {
  margin: 0px;
  padding: 0px;
}

.stashContainer {
  min-width: 570px !important;
  height: 571px !important;
  background: #884f06;
  background-image: url('../../../images/stashbg.png');
  float: left;
}

.stashlink {
  border-left: 0px;
  float: left;
}

li:first-of-type {
  border-top: 1px solid #060888;
}

li {
  padding-left: 5px;
  font-size: 19px;
  background: #3493d3ec;
  border-bottom: 1px solid #060888;
  border-right: 1px solid #060888;
}

.stashlink li:hover {
  cursor: pointer;
  background: #d66412
}

.stashlink ul {
  max-height: 567px !important;
  box-sizing: border-style color;
  overflow-y: auto;
  overflow-x: hidden;
}

.stashlink ul::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.stashinfo ul {
  list-style: none;
}

.stash-type{
  background: #201461;
  border-radius: 15px;
  padding: 2px;
  font-size: 12px;
  margin-top: 3px;
}