* {
  margin: 0px;
  padding: 0px;
}

div .row {
  background: #999;
  width: 280px;
  display: inline-block;
  padding: 0px;
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #555;
  position: relative;
  z-index: 200;
}

p {
  background: #999;
  width: 100%;
  text-align: left;
  padding: 0px;
  box-sizing: border-box;
}

.itemTitle {
  color: rgb(0, 0, 0);
  display: inline-block;
  background: rgb(247, 205, 142);
}

.itemTitle:first-child{
  border-bottom:1px solid #444;
  padding-bottom:2px; 
}

:host {
  position: absolute;
  height: 0px;
  width: 0px;
}

h2 {
  background: #888;
  color: #444;
}

div {
  position: relative;
}

.itemMod{
  padding-left: 3px;
  color: rgb(65, 119, 219);
  background: rgb(31, 31, 31);
  width: 100%;
  font-weight: bold;
}