* {
  margin: 0px;
  padding: 0px;
}

div .row {

  width: 340px;
  display: inline-block;
  padding: 0px;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  z-index: 200;
}

p {
  background: #999;
  width: 100%;
  text-align: left;
  padding: 0px;
  box-sizing: border-box;
}

.itemTitle {
  color: rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background: rgb(247, 205, 142);
}

.itemTitle:first-child{
  border-bottom:1px solid #444;
  padding-bottom:2px; 
}

:host {
  position: absolute;
  height: 0px;
  width: 0px;
}

h2 {
  background: #888;
  color: #444;
}

div {
  position: relative;
}

.itemMod{
  padding-left: 3px;
  color: rgb(65, 119, 219);
  background: rgba(0, 0, 0, 0.568);
  width: 100%;
  font-weight: bold;
  text-align: center;
}